<h1>Add a new photo</h1>

<form action="/create_photo">
    <div>
    <label for="img_url_input">
        Image URL
    </label>
    
    <input id="img_url_input" type="text" name="user_img_url"/>
    </div>

    <div>
    <label for="caption_input">
        Caption
    </label>
    
    <input id="caption_input" type="text" name="user_caption" />
    </div>
    
    <button>Create Photo</button>
</form>